.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 25px;
}

.wrapper {
    width: calc(85% - 25px);
    padding: 10px 10px 10px 10px;
    transition: 300ms linear;
}

.wrapper:focus-within {
    padding-bottom: 50px;
}

.wrapper :global(.DraftEditor-root) {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 300;
}

.wrapper :global(.public-DraftEditor-content) {
    min-height: 100px;
}

.wrapper :global(.public-DraftEditor-content :not(:last-child)) {
    margin-bottom: 10px;
}

.subwrapper {
    font-family: 'Comfortaa';
    width: 15%;
    text-align: center;
}