.box {
    height: 100px;
    transition: opacity .250s linear;
}

.box.at_top {
    opacity: 1;
    margin-bottom: 15px;
}

.box.not_at_top {
    opacity: 1;
    position: fixed;
    top: 8%;
    left: 2%;
}

.box.transition {
    opacity: 0;
}


.at_top_text {
    font-family: 'Comfortaa';
    font-weight: 300;
    display: inline;
    font-size: 28px;
}

.not_at_top_text {
    font-family: 'Comfortaa';
    font-weight: 300;
    font-size: 14px;
}

.at_top_count {
    display: inline;
    font-family: 'Comfortaa';
    font-weight: 200;
    font-size: 48px;
}

.not_at_top_count {
    font-family: 'Comfortaa';
    font-weight: 200;
    font-size: 30px;
}

.at_top_input input {
    width: 4ch;
    font-family: 'Comfortaa';
    font-size: 48px;
    font-weight: 200;
    text-align: center;
}

.not_at_top_input input {
    width: 4ch;
    font-family: 'Comfortaa';
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}

.not_at_top_input {
    margin-bottom: 10px;
}