.wrapper {
    position: fixed;
    height: 100%;
    top: 0%;
    right: 0%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    transition: 110ms linear;
}

.wrapper:hover .icon {
    opacity: 0;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    transition: transform 250ms;
    cursor: pointer;
    right: -30px;
}

.wrapper:hover .menu {
    transform: translateX(-60px);
}
